.redimencionar01 {
    max-width: 15%;
    max-height: 15%;
}

.redimencionar02 {
    max-width: 32px;
    max-height: 32px;
}

.redimencionar03 {
    max-width: 45px;
    max-height: 45px;
}

.redimencionar04 {
    max-width: 19px;
    max-height: 19px;
}

.redimencionar05 {
    max-width: 70%;
}


// ALTERA LA POSICION DE LAS ETIQUETAS login y register
.login-register {
    margin: 0px -10px;
}